body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 130px;
}
.header-division{
    display: flex;
}
.header-division img{
    width: 5%;
}
#header-section{
    display: flex;
    background-color: lightblue;
}
.header-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 25px;
}
h1{
    font-size: 50px;
}
#welcome-section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
span{
    color: rgb(61, 172, 241);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(aqua, blue);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}
.initial-paragraph{
    padding-bottom: 40px;
}
#about-section{
    background-image: url(images/image2.png);
    background-size: cover;
}
#about-division{
    padding: 180px;
    padding-left: 1000px;
}
#about-h3{
    font-size: 40px;
}